# Урок 2. Метрики качества классификации ч.1

В уроке мы разбирали матрицу ошибок и некоторые метрики, основанные на терминах матрицы ошибок. Здесь же посмотрим, как эти метрики применять на практике и что  по ним можно выяснить.

### 1.1
Выкачайте тренировочный датасет Titanic - train.csv - с сайта [kaggle](https://www.kaggle.com/c/titanic/data). С помощью функции pd.read_csv() загрузите данные в датафрейм. Выведите первые 20 строк и проанализируйте данные: какие колонки присутствуют (более конкретная информация по ним есть на сайте kaggle), каким образом в них обозначены данные и какие типы данных используются (используйте pandas.dtypes).

In [301]:
import pandas as pd

In [302]:
titanik = pd.read_csv('titanic.csv')

titanik.head(20)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1.0,1.0,"Anderson, Mr. Harry",male,48.0000,0.0,0.0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39.0000,0.0,0.0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0000,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1.0,0.0,"Astor, Col. John Jacob",male,47.0000,1.0,0.0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1.0,1.0,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0000,1.0,0.0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1.0,1.0,"Aubart, Mme. Leontine Pauline",female,24.0000,0.0,0.0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1.0,1.0,"Barber, Miss. Ellen ""Nellie""",female,26.0000,0.0,0.0,19877,78.8500,NaN,S,6,NaN,NaN
14,1.0,1.0,"Barkworth, Mr. Algernon Henry Wilson",male,80.0000,0.0,0.0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
15,1.0,0.0,"Baumann, Mr. John D",male,NaN,0.0,0.0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
16,1.0,0.0,"Baxter, Mr. Quigg Edmond",male,24.0000,0.0,1.0,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1.0,1.0,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0000,0.0,1.0,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1.0,1.0,"Bazzani, Miss. Albina",female,32.0000,0.0,0.0,11813,76.2917,D15,C,8,NaN,NaN
19,1.0,0.0,"Beattie, Mr. Thomson",male,36.0000,0.0,0.0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"

### 1.2
Проверьте, имеются ли пропущенные значения в колонках, и выведите сумму всех пропущенных значений в каждой из колонок.

In [303]:
titanik.isna().sum().sum()
titanik.age.isna().sum()

264

### 1.3
Замените все пропущенные значения колонки Age на медианы в зависимости от пола человека: т.е. если пол человека в строке с пропущенным значением "male", заменяете пропущенное значение возраста на медиану по всем известным возрастам мужчин, и наоборот. Выведите медианы возраста в зависимости от пола. Пропущенные значения колонок Cabin и Embarked замените на U (Unknown).

Примечание: для группировки по полу можно использовать метод df.groupby(), который имеет встроенные агрегатные функции (в т.ч. для вычисления медианы).  Для установки пропущенных значений в датасете воспользуйтесь функцией df.apply().

In [304]:
titanik_male = titanik[titanik.sex=='male']

new = titanik_male[titanik_male.age.isna()].fillna(titanik_male.age.mean())
titanik_male =titanik_male.combine_first(new)
titanik_female = titanik[titanik.sex=='female']

new2 = titanik_female[titanik_female.age.isna()].fillna(titanik_female.age.mean())
titanik_female =titanik_female.combine_first(new2)

resault = pd.concat([titanik_female,titanik_male])
resault.cabin = resault.cabin.fillna('U')
resault.embarked = resault.embarked.fillna('U')
resault

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.000000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.000000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.000000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.000000,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.000000,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302,3.0,0.0,"Yousif, Mr. Wazli",male,30.585233,0.0,0.0,2647,7.2250,30.585233,C,30.585233,30.585233,30.585233
1303,3.0,0.0,"Yousseff, Mr. Gerious",male,30.585233,0.0,0.0,2627,14.4583,30.585233,C,30.585233,30.585233,30.585233
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.500000,0.0,0.0,2656,7.2250,U,C,NaN,304.000000,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.000000,0.0,0.0,2670,7.2250,U,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.000000,0.0,0.0,315082,7.8750,U,S,NaN,NaN,NaN

In [305]:
resault.sex.isna()

0       False
2       False
4       False
6       False
8       False
        ...
1302    False
1303    False
1306    False
1307    False
1308    False
Name: sex, Length: 1309, dtype: bool

### 1.4
Выведите возраст пассажиров с PassengerID = [6, 20]. Убедитесь, что заполнены все пропущенные значения (воспользуйтесь функцией df.isnull() ).

Так как не все классификаторы могут работать с категориальными признаками, в данном случае необходимо заменить их на числовые.

Также можно было бы выделить расширенные признаки, такие как статус пассажира (Mr., Mrs., Miss., Dr., Master. и т.д.), собственный индекс билета, индекс палубы и другие, но здесь ограничимся выбором более простых признаков.

### 1.5
В колонке Sex замените значения на 0, если пол "male", и на 1, если "female". В колонке Embarked замените параметры "U", "S", "C", "Q" на 0, 1, 2, 3 соответственно. Отбросьте колонки PassengerId, Name, Ticket, Cabin. Выведите первые 20 строк получившегося набора данных.

In [306]:
resault.sex = resault.sex.map(lambda x: 0 if x == 'male' else 1)
resault.embarked = resault.embarked.replace({'U':0, 'S':1, 'C':2, 'Q':3})
resault.head(20)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",1,29.0,0.0,0.0,24160,211.3375,B5,1,2,NaN,"St Louis, MO"
2,1.0,0.0,"Allison, Miss. Helen Loraine",1,2.0,1.0,2.0,113781,151.5500,C22 C26,1,NaN,NaN,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",1,25.0,1.0,2.0,113781,151.5500,C22 C26,1,NaN,NaN,"Montreal, PQ / Chesterville, ON"
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",1,63.0,1.0,0.0,13502,77.9583,D7,1,10,NaN,"Hudson, NY"
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",1,53.0,2.0,0.0,11769,51.4792,C101,1,D,NaN,"Bayside, Queens, NY"
11,1.0,1.0,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",1,18.0,1.0,0.0,PC 17757,227.5250,C62 C64,2,4,NaN,"New York, NY"
12,1.0,1.0,"Aubart, Mme. Leontine Pauline",1,24.0,0.0,0.0,PC 17477,69.3000,B35,2,9,NaN,"Paris, France"
13,1.0,1.0,"Barber, Miss. Ellen ""Nellie""",1,26.0,0.0,0.0,19877,78.8500,U,1,6,NaN,NaN
17,1.0,1.0,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",1,50.0,0.0,1.0,PC 17558,247.5208,B58 B60,2,6,NaN,"Montreal, PQ"
18,1.0,1.0,"Bazzani, Miss. Albina",1,32.0,0.0,0.0,11813,76.2917,D15,2,8,NaN,NaN
21,1.0,1.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,47.0,1.0,1.0,11751,52.5542,D35,1,5,NaN,"New York, NY"
23,1.0,1.0,"Bidois, Miss. Rosalie",1,42.0,0.0,0.0,PC 17757,227.5250,U,2,4,NaN,NaN
24,1.0,1.0,"Bird, Miss. Ellen",1,29.0,0.0,0.0,PC 17483,221.7792,C97,1,8,NaN,NaN
27,1.0,1.0,"Bishop, Mrs. Dickinson H (Helen Walton)",1,19.0,1.0,0.0,11967,91.0792,B49,2,7,NaN,"Dowagiac, MI"
28,1.0,1.0,"Bissette, Miss. Amelia",1,35.0,0.0,0.0,PC 17760,135.6333,C99,1,8,NaN,NaN
32,1.0,1.0,"Bonnell, Miss. Caroline",1,30.0,0.0,0.0,36928,164.8667,C7,1,8,NaN,"Youngstown, OH"
33,1.0,1.0,"Bonnell, Miss. Elizabeth",1,58.0,0.0,0.0,113783,26.5500,C103,1,8,NaN,"Birkdale, England Cleveland, Ohio"
35,1.0,1.0,"Bowen, Miss. Grace Scott",1,45.0,0.0,0.0,PC 17608,262.3750,U,2,4,NaN,"Cooperstown, NY"
36,1.0,1.0,"Bowerman, Miss. Elsie Edith",1,22.0,0.0,1.0,113505,55.0000,E33,1,6,NaN,"St Leonards-on-Sea, England Ohio"
41,1.0,1.0,"Brown, Mrs. James Joseph (Margaret Tobin)",1,44.0,0.0,0.0,PC 17610,27.7208,B4,2,6,NaN,"Denver, CO"

### 1.6
Приступим к построению классификаторов. **Условимся, что, если функция или объект модели имеют параметр random_state, то устанавливаем его равным 17 в каждом из случаев.**

Разделите данные на тренировочный и тестовый датасеты, установив размер тестового как 0.25 (первая колонка Survived является целевой, поэтому необходимо сначала ее отделить от признаков).

In [307]:
from sklearn.model_selection import train_test_split
target = pd.DataFrame(resault.survived)
resault.pop('survived')

0       1.0
2       0.0
4       0.0
6       1.0
8       1.0
       ...
1302    0.0
1303    0.0
1306    0.0
1307    0.0
1308    0.0
Name: survived, Length: 1309, dtype: float64

In [308]:
x_train,x_test, y_train, y_test = train_test_split(resault[['sex','age']], target, test_size=0.25, random_state=17)


x_train

      sex   age
1263    0  11.5
1008    1  35.0
859     1  18.0
831     0  40.0
1280    0  22.0
...   ...   ...
497     0  40.0
1086    1  31.0
322     1  36.0
1251    0  30.5
285     0  67.0

[981 rows x 2 columns]

### 1.7
Обучите на полученных выборках несколько классификаторов, которые импортированы ниже.

**Примечание: в методе ближайших соседей используйте количество соседей, равное 5.**

In [309]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [310]:
model1 = KNeighborsClassifier(5).fit(x_train,y_train)
score1 = model1.score(x_test,y_test)
y_pred1 = model1.predict(x_test)
 

model2 = GaussianNB().fit(x_train,y_train)
score2 = model2.score(x_test,y_test)
y_pred2 = model2.predict(x_test)

model3 = DecisionTreeClassifier().fit(x_train,y_train)
score3 = model3.score(x_test,y_test)
y_pred3 = model3.predict(x_test)

model4 = LogisticRegression().fit(x_train,y_train)
score4 = model4.score(x_test,y_test)
y_pred4 = model4.predict(x_test)

print(f'KNB score: {score1}\nNB score: {score2}\nDTC score: {score3}\nL2 score: {score4}')

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

KNB score: 0.7317073170731707
NB score: 0.7865853658536586
DTC score: 0.7652439024390244
L2 score: 0.7865853658536586

Очевидно, в этом случае использовать метрику accuracy, которую мы применяли до этого, не совсем правильно: она не даст верную оценку классификатору, потому как выживших явно меньше, чем погибших.

Вспомним про такие метрики как точность и полнота. Здесь они подойдут хорошо, так как у нас имеются положительный и отрицательный классы, и определить корректно один из них может оказаться более важным .

### 1.8
В каждом из пунктов следующего теста выберите, что важнее максимизировать: точность (precision) или полноту (recall). Выпишите ответы.

1. Вероятность того, что при определенной поломке самолета он сможет долететь до пункта назначения (1 - долетел, 0 - не долетел).
2. Предсказание, представляет ли человек опасность, по анализу психического состояния (1 - представляет опасность, 0 - не представляет опасности).
3. Предсказание ухода клиента (1 - клиент ушел, 0 - остался).
4. Выявление рака на основе медицинских показателей (1 - болен раком, 0 - здоров).
5. Предсказание летальности при наблюдаемой мутации (1 - выживание, 0 - летальный исход).
6. Определение важности происшествия для экстренных служб (1 - важно, 0 - неважно).
7. Окупятся ли вложения в бизнес (1 - окупятся, 0 - не окупятся).

Ваш ответ:

1. <br>
2. <br>
3. <br>
4. <br>
5. <br>
6. <br>
7. <br>

### 1.9
Определите, что важнее использовать в случае датасета Titanic: полноту или точность. Объясните, почему.

### 1.10
Для каждого классификатора выведите матрицу ошибок и самостоятельно рассчитайте метрику recall (расчеты должны присутствовать). Проверьте расчеты, воспользовавшись встроенной метрикой recall_score.

In [311]:
from sklearn.metrics import confusion_matrix, recall_score

In [312]:
error1 = recall_score(y_test,y_pred1)
error11 = confusion_matrix(y_test,y_pred1)

error2 = recall_score(y_test,y_pred2)
error22 = confusion_matrix(y_test,y_pred2)

error3 = recall_score(y_test,y_pred3)
error33 = confusion_matrix(y_test,y_pred3)

error4 = recall_score(y_test,y_pred4)
error44 = confusion_matrix(y_test,y_pred4)


print(f'KNB recall: {error1} matrix:\n {error11}\nNB recall: {error2} matrix:\n {error22}\nDTC recall: {error3} matrix:\n {error33}\nL2 recall: {error4} matrix:\n {error44}')

KNB recall: 0.5196850393700787 matrix:
 [[174  27]
 [ 61  66]]
NB recall: 0.7165354330708661 matrix:
 [[167  34]
 [ 36  91]]
DTC recall: 0.6535433070866141 matrix:
 [[168  33]
 [ 44  83]]
L2 recall: 0.7165354330708661 matrix:
 [[167  34]
 [ 36  91]]

### 1.11
Выберите ту модель, на которой метрика recall давала лучший ответ, и рассчитайте для нее precision, используя встроенную функцию.

In [313]:
from sklearn.metrics import precision_score

In [314]:
error_p = precision_score(y_test,y_pred2)
error_p

0.728

In [315]:
from sklearn.metrics import precision_score, f1_score

error_f = f1_score(y_test,y_pred2)
error_f

0.7222222222222222

In [316]:
from sklearn.metrics import precision_recall_fscore_support, classification_report

lesson = classification_report(y_test, y_pred1)

lesson2 = classification_report(y_test, y_pred2)

lesson3 = classification_report(y_test, y_pred3)

lesson4 = classification_report(y_test, y_pred4)
print(f'KNB \n{lesson}')
print(f'NB \n{lesson2}')
print(f'DTC \n{lesson3}')
print(f'L2 \n{lesson4}')

KNB
              precision    recall  f1-score   support

         0.0       0.74      0.87      0.80       201
         1.0       0.71      0.52      0.60       127

    accuracy                           0.73       328
   macro avg       0.73      0.69      0.70       328
weighted avg       0.73      0.73      0.72       328

NB
              precision    recall  f1-score   support

         0.0       0.82      0.83      0.83       201
         1.0       0.73      0.72      0.72       127

    accuracy                           0.79       328
   macro avg       0.78      0.77      0.77       328
weighted avg       0.79      0.79      0.79       328

DTC
              precision    recall  f1-score   support

         0.0       0.79      0.84      0.81       201
         1.0       0.72      0.65      0.68       127

    accuracy                           0.77       328
   macro avg       0.75      0.74      0.75       328
weighted avg       0.76      0.77      0.76       328

L2
              precision    recall  f1-score   support

         0.0       0.82      0.83      0.83       201
         1.0       0.73      0.72      0.72       127

    accuracy                           0.79       328
   macro avg       0.78      0.77      0.77       328
weighted avg       0.79      0.79      0.79       328

In [317]:
from sklearn.model_selection import StratifiedKFold
from sklearn.linear_model import LogisticRegressionCV
import numpy as np


1. Используя StratifiedKFold, разбейте данные для кросс-валидации по 5-ти блокам (не забывайте во всех методах использовать random_state=17).
2. С помощью numpy.logspace разбейте интервал (-1, 2) на 500 значений.
3. С помощью LogisticRegressionCV подберите оптимальный параметр C: установите гиперпараметр Cs равным объекту из п.2 (разбиение интервала (-1, 2) отвечает за подбор обратного коэффициента регуляризации C); cv равным объекту из п.1 (разбиение для кросс-валидации); scoring равным "roc_auc" (отвечает за оптимизацию гиперпараметров на кросс-валидации: метрика, установленная в scoring, контролирует, как оценивать модель при каждом из наборе параметров, т.е. показывает, какая метрика должна быть наилучшей).
4. Обучите полученную модель на тренировочных данных.

In [346]:
skf = StratifiedKFold(n_splits=5, random_state=17, shuffle=True)

x = skf.split(resault[['sex','age']], target)

for i, (train, test) in enumerate(x):
    print(i)
    print(f'train {train}')
    print(f'test {test}')

0
train [   0    1    2 ... 1306 1307 1308]
test [   9   18   20   21   35   37   41   48   50   55   62   65   68   72
   79   86   88   90  101  102  103  104  114  117  119  126  141  143
  145  154  156  158  162  166  168  178  190  198  210  215  224  229
  237  242  243  244  262  264  271  274  277  280  289  293  295  302
  303  304  312  314  319  320  327  330  340  342  351  363  364  369
  373  376  379  381  384  391  395  396  404  405  406  412  413  433
  435  436  440  441  446  447  448  456  459  460  465  466  477  478
  479  480  482  488  492  499  506  508  515  541  545  549  558  562
  566  574  575  580  585  587  595  597  601  607  611  614  621  624
  628  633  634  636  639  646  648  649  653  655  659  661  668  672
  676  680  692  693  694  704  719  729  742  749  750  755  756  761
  772  776  779  780  784  790  791  794  799  818  824  829  832  834
  836  837  845  848  849  850  851  861  867  868  871  878  888  895
  896  899  900  902  903  910  911  915  921  922  927  939  942  945
  958  983  986  993  995  996  997  998 1005 1006 1009 1012 1020 1024
 1028 1029 1032 1033 1037 1045 1051 1058 1059 1064 1068 1081 1090 1098
 1104 1107 1129 1130 1131 1138 1141 1143 1158 1163 1164 1167 1169 1173
 1176 1185 1191 1195 1197 1206 1207 1208 1214 1215 1218 1222 1228 1234
 1237 1240 1251 1258 1259 1280 1291 1295 1299 1305]
1
train [   1    3    4 ... 1305 1306 1308]
test [   0    2    6   11   17   23   24   27   40   44   46   58   60   66
   67   70   73   74   85  112  118  120  123  124  129  131  138  139
  144  147  150  153  159  169  171  181  187  189  192  211  213  217
  222  223  228  239  245  246  248  250  255  256  257  260  263  265
  268  269  273  278  279  282  283  285  286  290  294  305  308  310
  313  315  318  328  337  338  350  359  361  362  365  366  367  368
  370  385  388  389  390  410  416  419  421  425  428  432  438  439
  442  455  457  469  476  487  495  496  497  503  505  509  511  513
  518  529  532  536  537  540  550  551  556  557  560  564  565  582
  584  602  606  616  617  626  635  640  644  654  660  662  673  675
  683  684  687  691  705  714  720  722  723  725  726  735  738  740
  743  752  757  760  763  768  783  785  786  788  793  800  801  803
  808  810  811  812  820  821  822  831  835  840  842  852  857  874
  875  886  892  893  908  909  914  920  923  929  931  932  937  940
  944  946  947  956  962  964  967  968  985  987  988 1004 1008 1016
 1018 1023 1031 1047 1052 1061 1065 1069 1070 1075 1077 1078 1079 1095
 1102 1106 1112 1117 1118 1121 1124 1127 1135 1144 1145 1152 1155 1162
 1181 1182 1187 1190 1194 1196 1210 1211 1223 1232 1233 1239 1245 1250
 1253 1266 1268 1274 1281 1283 1288 1292 1293 1307]
2
train [   0    1    2 ... 1306 1307 1308]
test [   3    5   12   15   16   25   31   33   38   45   69   71   80   81
   87   92   94  100  105  107  116  122  127  132  135  136  148  149
  152  161  164  172  176  177  186  200  203  206  207  214  216  218
  219  221  231  232  233  238  258  259  276  287  288  296  298  300
  306  321  324  325  334  335  336  339  341  343  347  349  352  355
  356  371  372  378  386  387  393  399  400  408  414  418  424  426
  437  444  454  458  464  467  468  470  471  472  475  483  486  491
  493  500  502  507  510  517  523  528  535  538  542  546  552  554
  555  559  561  567  570  571  576  581  594  599  610  612  622  623
  629  638  642  643  656  663  667  669  674  690  701  706  712  728
  730  731  732  733  736  739  741  744  746  747  753  764  769  774
  777  778  782  787  789  792  802  807  809  826  839  843  846  860
  862  865  866  869  870  879  880  889  894  904  907  912  918  926
  930  957  959  965  972  974  978  979  980  984 1000 1001 1011 1014
 1017 1021 1022 1027 1030 1034 1036 1042 1044 1046 1062 1063 1066 1067
 1080 1082 1083 1085 1091 1093 1096 1097 1099 1101 1113 1115 1119 1122
 1128 1132 1136 1139 1140 1142 1148 1151 1160 1161 1165 1166 1188 1189
 1192 1202 1203 1213 1224 1229 1230 1231 1236 1241 1243 1246 1247 1249
 1260 1261 1264 1265 1270 1272 1275 1278 1289 1300]
3
train [   0    1    2 ... 1306 1307 1308]
test [  10   19   26   36   42   43   47   49   56   57   59   61   63   64
   75   76   77   78   89   91   96   97   98  106  108  110  111  113
  115  128  133  155  160  167  173  174  175  179  182  185  191  193
  195  196  201  202  205  209  212  220  225  240  249  251  253  261
  266  267  272  275  281  284  297  299  301  307  317  323  326  329
  344  346  353  358  377  382  383  397  398  402  407  415  417  420
  431  445  450  452  461  462  463  481  484  485  512  514  524  526
  527  534  539  543  548  569  572  573  579  583  586  589  591  593
  598  604  609  615  618  620  627  630  631  632  641  651  657  664
  665  666  678  682  685  686  689  696  698  702  707  708  709  715
  716  718  727  734  745  751  754  758  759  767  770  771  775  796
  798  804  813  814  816  825  827  828  833  841  855  872  876  881
  882  884  885  890  891  897  905  913  917  928  933  948  953  954
  955  960  966  969  973  975  976  977  989  990  991  992 1002 1010
 1013 1015 1026 1035 1039 1040 1055 1057 1060 1076 1086 1088 1092 1094
 1100 1103 1105 1110 1116 1120 1123 1125 1126 1134 1137 1147 1149 1150
 1154 1156 1157 1159 1168 1171 1172 1174 1177 1183 1186 1193 1198 1204
 1216 1219 1220 1221 1225 1226 1227 1242 1244 1252 1255 1256 1257 1262
 1263 1267 1269 1273 1290 1294 1297 1301 1302 1303]
4
train [   0    2    3 ... 1303 1305 1307]
test [   1    4    7    8   13   14   22   28   29   30   32   34   39   51
   52   53   54   82   83   84   93   95   99  109  121  125  130  134
  137  140  142  146  151  157  163  165  170  180  183  184  188  194
  197  199  204  208  226  227  230  234  235  236  241  247  252  254
  270  291  292  309  311  316  322  331  332  333  345  348  354  357
  360  374  375  380  392  394  401  403  409  411  422  423  427  429
  430  434  443  449  451  453  473  474  489  490  494  498  501  504
  516  519  520  521  522  525  530  531  533  544  547  553  563  568
  577  578  588  590  592  596  600  603  605  608  613  619  625  637
  645  647  650  652  658  670  671  677  679  681  688  695  697  699
  700  703  710  711  713  717  721  724  737  748  762  765  766  773
  781  795  797  805  806  815  817  819  823  830  838  844  847  853
  854  856  858  859  863  864  873  877  883  887  898  901  906  916
  919  924  925  934  935  936  938  941  943  949  950  951  952  961
  963  970  971  981  982  994  999 1003 1007 1019 1025 1038 1041 1043
 1048 1049 1050 1053 1054 1056 1071 1072 1073 1074 1084 1087 1089 1108
 1109 1111 1114 1133 1146 1153 1170 1175 1178 1179 1180 1184 1199 1200
 1201 1205 1209 1212 1217 1235 1238 1248 1254 1271 1276 1277 1279 1282
 1284 1285 1286 1287 1296 1298 1304 1306 1308]

In [350]:
from sklearn.linear_model import LogisticRegressionCV

modelcv = LogisticRegressionCV().fit(x_train,y_train)
modelcv

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegressionCV()

In [291]:
from sklearn.metrics import roc_auc_score, roc_curve

probas = logit_search.fit(x_train, y_train).predict_proba(x_train)
fpr, tpr, _ = roc_curve(y_train, probas[:, 1])
auc = roc_auc_score(y_train, probas[:, 1])
plt.plot(fpr, tpr, label="auc=" + str(auc))
plt.legend(loc=4)

NameError: name 'logit_search' is not defined